.git
.gitignore

# Python Virtual Envs
backend/venv
venv
.venv
env

# Python Cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# User Data
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.vite-temp
frontend/coverage

# ML Models Cache
paddle_cache
paddle_models
hf_cache

# IDE & System
.idea
.vscode
.DS_Store
Thumbs.db
