version: '3.8'

services:
  subvision:
    build: .
    container_name: subvision_app
    ports:
      - "7860:7860"
    volumes:
      - ./:/app
      - ./hf_cache:/app/hf_cache
      - ./paddle_cache:/app/paddle_cache
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - DISABLE_MODEL_SOURCE_CHECK=1
    stdin_open: true
    tty: true
    restart: unless-stopped
