@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0 font-sans antialiased overflow-hidden bg-bg-main text-txt-main;
    line-height: 1.6;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bg-main;
  }
  ::-webkit-scrollbar-thumb {
    background: #424242;
    @apply border-2 border-bg-main;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.ReactCrop__crop-selection {
  @apply border-2 border-brand-500;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.6);
}
