@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0 font-sans antialiased overflow-hidden;
    background-color: #1e1e1e;
    color: #F0F0F0; /* High Contrast Main Text */
    line-height: 1.6;
  }

  /* Скроллбары */
  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { background: #1e1e1e; }
  ::-webkit-scrollbar-thumb { 
    background: #424242; 
    border: 2px solid #1e1e1e; 
  }
  ::-webkit-scrollbar-thumb:hover { background: #4f4f4f; }
}

.ReactCrop__crop-selection {
  border: 2px solid #007acc;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.6);
}
